.heart {
  color: red;
  transform: scale(1.3);
}

.favorite {
  padding: 8px;
  border: 2px dotted black;
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 110px;

  &--ball {
    height: 40px;
  }
}
